[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GencoDymo2"]
	path = GencoDymo2
	url = https://github.com/monahton/gencodymo2
